.projetos-lacta {
    display: none;
}

.activelacta {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
}

.projetos-lacta h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.lacta-artes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lacta-artes li {
    width: 40%;
}

.lacta-artes li:hover {
    transform: scale(1.1);
}

.lacta-artes li img {
    width: 100%;
    border: 3px solid #4A25AA;
}